.container-note {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    width: 100%;
    border-radius: 0.5rem;
    gap: 1.5rem;
    background-color: var(--white);
    border: solid 2px var(--main-color);
    box-shadow: 2px 3px 10px 5px var(--gray-light);
    padding: 2rem;
    margin-bottom: 5rem;
}

.heading-note {
    margin: 0 1rem 1rem 0;
}

.notes-body {
    background-color: var(--gray-lighter);
    border-radius: 0.5rem;
}

.heading-note {
    margin-bottom: -2rem;
    font-weight: 800;
    color: var(--green-dark);
}

.priority-tab {
    color: var(--green-dark);
}

.App.dark .container-note {
    background-color: var(--gray-dark);
    box-shadow: 2px 3px 10px 5px var(--gray-main);
}